In [ ]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 4.9 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 36 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 15.9 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.0

In [ ]:
# Bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Download e tratamento inicial dos dados
data = pd.read_csv('https://covid19.ssp.df.gov.br/resources/dados/dados-abertos.csv?param=[random]', 
                   sep=';',dtype={'Data':str, 'Data Cadastro':str, 'Sexo':str, 'Faixa Etária':str, 
                                  "Idade":str, 'RA':str, 'UF':str,'Óbito':str, 'dataPrimeirosintomas':str,
                                  'Pneumopatia':str, 'Doença Hematológica':str, 'Distúrbios Metabólicos':str, 
                                  'Imunopressão':str, 'Obesidade':str, 'Outros':str, 
                                  'Cardiovasculopatia':str, 'Nefropatia':str})
# Deletando colunas que não serão utilizadas
data = data.drop(['UF', 'Pneumopatia', 'Doença Hematológica', 'Distúrbios Metabólicos', 
                  'Imunopressão', 'Obesidade', 'Outros', 'Cardiovasculopatia', 'Nefropatia'], axis=1)
data['Data Cadastro'] = data['Data Cadastro'].replace(['2020-03-18','2020-05-06','2020-06-06',
                                                       '2020-07-06','2020-08-06'],
                                                      ['18/03/2020','06/05/2020','06/06/2020','06/07/2020','06/08/2020'])
# Preenchendo vazios
data['Data Cadastro'] = data['Data Cadastro'].fillna(data['dataPrimeirosintomas'])

# Formatando colunas para formato datetime
data['Data'] = pd.to_datetime(data['Data'], format='%d/%m/%Y')
data['Data Cadastro'] = pd.to_datetime(data['Data Cadastro'], format='%d/%m/%Y')
data['dataPrimeirosintomas'] = pd.to_datetime(data['dataPrimeirosintomas'], format='%d/%m/%Y')

In [ ]:
data.count()

Data                    482337
Data Cadastro           482337
Sexo                    482337
Faixa Etária            482337
RA                      462971
Óbito                   482337
Data do Óbito            10245
dataPrimeirosintomas    482337
Idade                   482337
dtype: int64

In [ ]:
# Preenchendo vazios
data['RA'] = data['RA'].fillna('Não Informado')

data.head()

        Data Data Cadastro       Sexo  ... Data do Óbito dataPrimeirosintomas Idade
0 2021-09-15    2020-03-18  Masculino  ...           NaN           2020-04-23    54
1 2021-09-15    2020-03-18  Masculino  ...           NaN           2020-08-03    52
2 2021-09-15    2020-03-18  Masculino  ...           NaN           2020-03-09    47
3 2021-09-15    2020-03-18  Masculino  ...           NaN           2020-03-14    63
4 2021-09-15    2020-03-18   Feminino  ...           NaN           2020-03-14    29

[5 rows x 9 columns]

In [ ]:
# Criando coluna de casos
data['casos'] = 1

# Criando coluna numérica para óbitos
data = data.replace({'Óbito': r'^Si.$'}, {'Óbito': r'1'}, regex=True)
data = data.replace({'Óbito': r'^Nã.$'}, {'Óbito': r'0'}, regex=True)

data['Óbito'] = pd.to_numeric(data['Óbito'])

# Substituindo campos vazios, que não são NaNs
data['RA'] = data['RA'].replace({" ": "Não Informado"})

In [ ]:
data.head()

        Data Data Cadastro       Sexo  ... dataPrimeirosintomas Idade  casos
0 2021-09-15    2020-03-18  Masculino  ...           2020-04-23    54      1
1 2021-09-15    2020-03-18  Masculino  ...           2020-08-03    52      1
2 2021-09-15    2020-03-18  Masculino  ...           2020-03-09    47      1
3 2021-09-15    2020-03-18  Masculino  ...           2020-03-14    63      1
4 2021-09-15    2020-03-18   Feminino  ...           2020-03-14    29      1

[5 rows x 10 columns]

In [ ]:
# Consultando óbitos
data.query("Óbito==1")

             Data Data Cadastro       Sexo  ... dataPrimeirosintomas Idade  casos
244    2021-09-15    2020-03-28  Masculino  ...           2020-03-24    83      1
272    2021-09-15    2020-03-29  Masculino  ...           2020-03-26    68      1
274    2021-09-15    2020-03-29   Feminino  ...           2020-03-19    62      1
284    2021-09-15    2020-03-29  Masculino  ...           2020-03-26    74      1
285    2021-09-15    2020-03-29   Feminino  ...           2020-03-13    78      1
...           ...           ...        ...  ...                  ...   ...    ...
480800 2021-09-15    2021-09-13  Masculino  ...           2021-09-12    88      1
480916 2021-09-15    2021-09-14  Masculino  ...           2021-08-21    72      1
480917 2021-09-15    2021-09-14   Feminino  ...           2021-08-31    41      1
481054 2021-09-15    2021-09-14  Masculino  ...           2021-09-13    73      1
481876 2021-09-15    2021-09-15   Feminino  ...           2021-08-18    74      1

[10245 rows x 10 columns]

In [ ]:
data.query('RA == " "')

Empty DataFrame
Columns: [Data, Data Cadastro, Sexo, Faixa Etária, RA, Óbito, Data do Óbito, dataPrimeirosintomas, Idade, casos]
Index: []

In [ ]:
# Ordenando por RA e data
d2 = data.sort_values(['RA', 'Data Cadastro'], ascending=[False, True])
d2.head()

         Data Data Cadastro       Sexo  ... dataPrimeirosintomas Idade  casos
3  2021-09-15    2020-03-18  Masculino  ...           2020-03-14    63      1
11 2021-09-15    2020-03-18  Masculino  ...           2020-03-15    31      1
15 2021-09-15    2020-03-18   Feminino  ...           2020-03-13    46      1
39 2021-09-15    2020-03-19  Masculino  ...           2020-03-09    47      1
51 2021-09-15    2020-03-19   Feminino  ...           2020-03-17    31      1

[5 rows x 10 columns]

In [ ]:
#d2['casos_csum'] = d2.groupby(['RA'])['casos'].cumsum()

In [ ]:
d2.head()

         Data Data Cadastro       Sexo  ... dataPrimeirosintomas Idade  casos
3  2021-09-15    2020-03-18  Masculino  ...           2020-03-14    63      1
11 2021-09-15    2020-03-18  Masculino  ...           2020-03-15    31      1
15 2021-09-15    2020-03-18   Feminino  ...           2020-03-13    46      1
39 2021-09-15    2020-03-19  Masculino  ...           2020-03-09    47      1
51 2021-09-15    2020-03-19   Feminino  ...           2020-03-17    31      1

[5 rows x 10 columns]

In [ ]:
d2['Óbito'].astype(int)
#d2['obitos_csum'] = d2.groupby(['RA'])['Óbito'].cumsum()

3         0
11        0
15        0
39        0
51        0
         ..
481236    0
481335    0
481918    0
481945    0
481953    0
Name: Óbito, Length: 482337, dtype: int64

In [ ]:
d2.head()

         Data Data Cadastro       Sexo  ... dataPrimeirosintomas Idade  casos
3  2021-09-15    2020-03-18  Masculino  ...           2020-03-14    63      1
11 2021-09-15    2020-03-18  Masculino  ...           2020-03-15    31      1
15 2021-09-15    2020-03-18   Feminino  ...           2020-03-13    46      1
39 2021-09-15    2020-03-19  Masculino  ...           2020-03-09    47      1
51 2021-09-15    2020-03-19   Feminino  ...           2020-03-17    31      1

[5 rows x 10 columns]

In [ ]:
# Calculando diferença de datas para a criação da coluna 'recuperado'
d2['delta']= d2['Data'] - d2['dataPrimeirosintomas']
d2['delta']=pd.to_numeric(d2['delta'].dt.days, downcast='integer')

In [ ]:
d2.head()

         Data Data Cadastro       Sexo  ... Idade casos  delta
3  2021-09-15    2020-03-18  Masculino  ...    63     1    550
11 2021-09-15    2020-03-18  Masculino  ...    31     1    549
15 2021-09-15    2020-03-18   Feminino  ...    46     1    551
39 2021-09-15    2020-03-19  Masculino  ...    47     1    555
51 2021-09-15    2020-03-19   Feminino  ...    31     1    547

[5 rows x 11 columns]

In [ ]:
# Coluna 'recuperado'
d2['recuperado'] = np.where(np.logical_and(d2['delta'].values >= 15, d2['Óbito'].values == 0),1,0)

In [ ]:
# Soma dos recuperados
d2['recuperado'].sum()

464500

In [ ]:
d2.head()

         Data Data Cadastro       Sexo  ... casos delta  recuperado
3  2021-09-15    2020-03-18  Masculino  ...     1   550           1
11 2021-09-15    2020-03-18  Masculino  ...     1   549           1
15 2021-09-15    2020-03-18   Feminino  ...     1   551           1
39 2021-09-15    2020-03-19  Masculino  ...     1   555           1
51 2021-09-15    2020-03-19   Feminino  ...     1   547           1

[5 rows x 12 columns]

In [ ]:
# Ordenando por RA e data decrescente
d2 =  d2.sort_values(['RA', 'Data Cadastro'], ascending=[False, False])

In [ ]:
#d2['mmo_obitos'] = d2.groupby(['RA'])['obitos_csum'].rolling(7).mean().reset_index(0,drop=True)

In [ ]:
d2.head(10)

             Data Data Cadastro       Sexo  ... casos delta  recuperado
481696 2021-09-15    2021-09-15  Masculino  ...     1     1           0
481887 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481897 2021-09-15    2021-09-15  Masculino  ...     1     2           0
481912 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481922 2021-09-15    2021-09-15  Masculino  ...     1     2           0
481927 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481933 2021-09-15    2021-09-15  Masculino  ...     1     2           0
481934 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481938 2021-09-15    2021-09-15  Masculino  ...     1     2           0
481978 2021-09-15    2021-09-15   Feminino  ...     1     2           0

[10 rows x 12 columns]

In [ ]:
#d2['mmo_casos'] = d2['casos_csum'].rolling(7).mean().reset_index(0,drop=True)
d2.head()

             Data Data Cadastro       Sexo  ... casos delta  recuperado
481696 2021-09-15    2021-09-15  Masculino  ...     1     1           0
481887 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481897 2021-09-15    2021-09-15  Masculino  ...     1     2           0
481912 2021-09-15    2021-09-15   Feminino  ...     1     2           0
481922 2021-09-15    2021-09-15  Masculino  ...     1     2           0

[5 rows x 12 columns]

In [ ]:
d2.count()

Data                    482337
Data Cadastro           482337
Sexo                    482337
Faixa Etária            482337
RA                      482337
Óbito                   482337
Data do Óbito            10245
dataPrimeirosintomas    482337
Idade                   482337
casos                   482337
delta                   482337
recuperado              482337
dtype: int64

In [ ]:
# Deletando colunas
d2 = d2.drop(['Data', 'dataPrimeirosintomas','Idade', 'delta'], axis=1)

In [ ]:
# Criando coluna para join espacial
d2['ra'] = d2['RA']

d2 = d2.drop(['RA'], axis=1)

In [ ]:
import geopandas as gpd

# Dado geográfico das RAs
ra = gpd.read_file('RA.shp', encoding='UTF-8')
ra.head()

             ra                        geometry
0  Plano Piloto  POINT (182864.551 8260433.709)
1          Gama  POINT (163796.322 8228531.595)
2    Brazlândia  POINT (163814.577 8269927.154)
3    Sobradinho  POINT (201689.520 8269503.396)
4    Planaltina  POINT (228573.880 8265867.938)

In [ ]:
# Join espacial
join = ra.merge(d2, on ='ra')

In [ ]:
# Projeção do join
join.crs

<Projected CRS: EPSG:31983>
Name: SIRGAS 2000 / UTM zone 23S
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Brazil - between 48°W and 42°W, northern and southern hemispheres, onshore and offshore.
- bounds: (-48.0, -33.5, -42.0, 5.13)
Coordinate Operation:
- name: UTM zone 23S
- method: Transverse Mercator
Datum: Sistema de Referencia Geocentrico para las AmericaS 2000
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [ ]:
# Modificando projeção para sistema de coordenadas geográficas
join = join.to_crs('EPSG:4326')

In [ ]:
join.head()

             ra                     geometry  ... casos recuperado
0  Plano Piloto  POINT (-47.95882 -15.71442)  ...     1          0
1  Plano Piloto  POINT (-47.95882 -15.71442)  ...     1          0
2  Plano Piloto  POINT (-47.95882 -15.71442)  ...     1          0
3  Plano Piloto  POINT (-47.95882 -15.71442)  ...     1          0
4  Plano Piloto  POINT (-47.95882 -15.71442)  ...     1          0

[5 rows x 9 columns]

In [ ]:
df = join.drop('geometry', axis=1)

In [ ]:
df.head()

             ra Data Cadastro       Sexo  ... Data do Óbito  casos recuperado
0  Plano Piloto    2021-09-15  Masculino  ...           NaN      1          0
1  Plano Piloto    2021-09-15  Masculino  ...           NaN      1          0
2  Plano Piloto    2021-09-15  Masculino  ...           NaN      1          0
3  Plano Piloto    2021-09-15   Feminino  ...           NaN      1          0
4  Plano Piloto    2021-09-15   Feminino  ...           NaN      1          0

[5 rows x 8 columns]

In [ ]:
# Criando coluna de coordenadas
df['geo'] = join.geometry.y.astype(str) +','+ join.geometry.x.astype(str)

df.head()

             ra  ...                                    geo
0  Plano Piloto  ...  -15.714424616292403,-47.9588182845936
1  Plano Piloto  ...  -15.714424616292403,-47.9588182845936
2  Plano Piloto  ...  -15.714424616292403,-47.9588182845936
3  Plano Piloto  ...  -15.714424616292403,-47.9588182845936
4  Plano Piloto  ...  -15.714424616292403,-47.9588182845936

[5 rows x 9 columns]

In [ ]:
#df = df.drop(['x', 'y'], axis=1)
#df.head()

In [ ]:
df.count

<bound method DataFrame.count of                    ra  ...                                    geo
0        Plano Piloto  ...  -15.714424616292403,-47.9588182845936
1        Plano Piloto  ...  -15.714424616292403,-47.9588182845936
2        Plano Piloto  ...  -15.714424616292403,-47.9588182845936
3        Plano Piloto  ...  -15.714424616292403,-47.9588182845936
4        Plano Piloto  ...  -15.714424616292403,-47.9588182845936
...               ...  ...                                    ...
482332  Não Informado  ...                                nan,nan
482333  Não Informado  ...                                nan,nan
482334  Não Informado  ...                                nan,nan
482335  Não Informado  ...                                nan,nan
482336  Não Informado  ...                                nan,nan

[482337 rows x 9 columns]>

In [ ]:
# Salvando em .csv
df.to_csv('cov_df.csv')